/* Напишіть код, що демонструє роботу описаних властивостей. Продемонструйте відмінності між двома властивостями. */

.elem {
    width: 200px;
    overflow-wrap: break-word;
    border: 1px solid black;
}
