/* Тепер розташуйте елементи грида по двох рядах і задайте вирівнювання елементів усередині комірок по центру горизонтальної та початку вертикальної осей. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 10px;
    padding: 10px;
    margin: 20px auto;
    border: 3px solid #696989;
    width: 600px;
    height: 600px;
}

.grid-container>div {
    gap: 10px;
    padding: 10px;
    border: 1px solid #696989;
}
