/* Використовуючи відповідні селектори, пофарбуйте заголовки h1в зелений колір, заголовки h2в блакитний, заголовки h3 - в червоний, а абзаци - в оранжевий. */

h1 {
    color: green;
}

h2 {
    color: blue;
}

h3 {
    color: red;
}

p {
    color: orange;
}