* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    margin: 50px 0;
    transform: skew(-7deg);
}

.menu a {
    border: 1px solid blue;
    color: blue;
    text-decoration: none;
    padding: 15px;
    margin: 3px;
    background-color: white;
    transition: transform 0s;
}

.menu a:hover {
    transform: scale(1.2);
}
