/* Модифікуйте попередню задачу так, щоб частини картинки, які вилазять, обрізалися. */

.elem {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
}

img {
    width: 400px;
    height: 400px;
}
