table {
    border-collapse: separate;
    width: 400px;
    border-spacing: 0;
    border: 1px solid black;
    background-color: #00A876;
}

td {
    border: 1px solid black;
    text-align: center;
}
