.parent {
    display: flex;
    width: 500px;
    height: 200px;
    border: 1px solid red;
}

.child {
    height: 50px;
    border: 1px solid green;
}

.elem1 {
    width: 128.57px;
    flex-shrink: 3;
}

.elem2 {
    width: 85.71px;
    flex-shrink: 2;
}

.elem3 {
    width: 142.86px;
    flex-shrink: 1;
}

.elem4 {
    width: 142.86px;
    flex-shrink: 1;
}
