.wrapper {
    margin: 0 auto;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #C4CD14;
    border-radius: 100%;
}

.eye-1 {
    position: absolute;
    top: 70px;
    left: 80px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 3;
}

.eye-2 {
    position: absolute;
    top: 70px;
    right: 80px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 3;
}

.noise {
    position: absolute;
    top: 200px;
    left: 165px;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 3;
}

.mouth1 {
    position: absolute;
    top: 155px;
    left: 100px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 1;
}

.mouth2 {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 300px;
    height: 300px;
    background-color: #C4CD14;
    border-radius: 100%;
    z-index: 2;
}
