* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parents {
    margin: 50px auto;
    display: flex;
}

.child1 {
    padding: 20px;
    border: 3px solid green;
    text-align: center;
    font-size: 20px;
    flex: 1;
    width: 50%;
}

.child2 {
    padding: 20px;
    border: 3px solid green;
    text-align: center;
    font-size: 20px;
    flex: 1;
    width: 80%;
}

.child3 {
    padding: 20px;
    border: 3px solid green;
    text-align: center;
    font-size: 20px;
    flex: 1;
    width: 50%;
}

@media (max-width: 760px) {
    .parents {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .parents {
        flex-direction: row;
    }
}
