<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Перетворіть цей код за допомогою вивчених вами нових тегів. -->
    <div id="content">
        <h1></h1>
        <section>
            <h2></h2>
            <p>

            </p>
            <p>

            </p>
        </section>
       <section>
            <h2></h2>
            <p>

            </p>
            <p>

            </p>
       </section>
    </div>
</body>
</html>
