/* Зробіть див шириною 200px. Зробіть так, щоб текст у цьому диві не переходив на новий рядок. Додайте в див довгий текст, який не буде поміщатися по ширині в цей блок. Перевірте те, що текст вилізе з правої частини блоку. */

.elem {
    width: 200px;
    border: 1px solid black;
    white-space: nowrap;
}
