/* Розмістіть блоки в три ряди. Нехай перший блок матиме розмір 100px, другий 150px, а третій 200px. */

.grid-container {
    display: grid;
    grid-template-rows: 100px 150px 200px;
    padding: 10px;
    margin: 20px auto;
    border: 3px solid #696989;
    width: 600px;
}

.grid-container>div {
    border: 1px solid #696989;
    padding: 10px;
}
