* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    margin: 20px 20px;
    background-color: #16A177;
}

.menu a {
    padding: 15px 40px;
    font: 15px Arial;
    text-decoration: none;
    color: #fff;
}

.menu a:hover,
.menu a.active {
    color: #fff;
    background-color: #16785C;
}
