/* Розмістіть усі елементи відповідно до наступного прикладу, використовуючи властивість order: */

#parent {
    display: grid;
    grid: repeat(6, 1fr) / repeat(6, 1fr);
    border: 2px solid #696989;
    padding: 10px;
    width: 400px;
    height: 300px;
}

#parent>div {
    padding: 10px;
    border: 1px solid #696989;
}

#elem1 {
    background-color: pink;
    grid-column: 2 / 6;
    grid-row: 2 / 7;
    order: 1;
}

#elem2 {
    background-color: orange;
    grid-column: 4 / 7;
    grid-row: 3 / 5;
    order: 4;
}

#elem3 {
    background-color: green;
    grid-column: 3 / 5;
    grid-row: 1 / 6;
    order: 3;
}

#elem4 {
    background-color: lightblue;
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    order: 2;
}
