.parent {
    display: flex;
    width: 700px;
    height: 200px;
    border: 1px solid red;
}

.child {
    height: 50px;
    border: 1px solid green;
}

.elem1 {
    width: 100px;
    flex-grow: 1;
}

.elem2 {
    width: 100px;
    flex-grow: 2;
}

.elem3 {
    width: 200px;
    flex-grow: 3;
}
