/* Нехай у вас є грид, що складається з п'яти елементів, розташованих за трьома стовпчиками. Створіть у другому елементі вкладений грид, у якому зі свого боку буде три дочірні елементи. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 5px;
    padding: 10px;
    border: 3px solid #696989;
    width: 600px;
    height: 200px;
    margin: 20px auto;
}

.grid-container>div {
    padding: 10px;
    border: 1px solid #696989;
}

.elem2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding: 6px;
    border: 1px solid #696989;
}

.elem2>div {
    gap: 5px;
    padding: 6px;
    border: 1px solid #696989;
}
