/* Спростіть код, використовуючи групування селекторів: */
.eee {
    font-size: 20px;
}

.zzz {
    font-size: 30px;
}

.ggg {
    font-size: 35px;
}

.eee,
.ggg,
.zzz {
    text-align: center;
    font-family: Arial;
}
