/* Зробіть плиточку по два елементи в ряд з відстанню між елементами в 20px. */

.parent {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    border: 1px solid red;
}

.child {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid green;
}

.child:nth-child(2n) {
    margin-right: 0;
}
