/* Дано блок розміром 200 на 200. Додайте йому чотири тіні так, щоб кожна була з одного боку блоку зі зсувом у 30px і без розмиття. Тобто одна тінь строго зверху, інша строго праворуч і так далі. */

.block {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    box-shadow: -30px 0 blue, -30px 0 yellow, -30px 0 blue, -30px 0 yellow;
    margin-left: 200px;
}
