/* Зробіть див шириною і висотою в 200px. Додайте в нього довгий текст, який не буде поміщатися по висоті в цей блок. Перевірте те, що текст вилізе з нижньої частини блоку. */

.elem {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    overflow: visible;
}
