* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line {
    background-color: green;
    color: #fff;
}

.center {
    width: 840px;
    padding: 10px;
    margin: 0 auto;
}

.wrapper h1 {
    font-size: 35px;
    margin-bottom: 7px;
    text-align: center;
}

.wrapper p {
    font-size: 21px;
    margin-bottom: 5px;
    text-align: center;
}

.service {
    background-color: #fff;
}

.wrapper {
    margin-bottom: 30px;
}

.wrapper h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 27px;
}

.wrapper li {
    list-style-position: inside;
}

.contact {
    background-color: #C60304;
    color: #fff;
}

.contact p {
    text-align: center;
}

.company p {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 16px;
}

.footer {
    padding-top: 100px;
    background: #FF8040;
    color: white;
    text-align: center;
    font-size: 13px;
}
