.menu {
    display: flex;
    background-color: #16A177;
}

.menu a {
    padding: 10px;
    font: 15px Arial;
    text-decoration: none;
    color: #fff;
    background-color: #16A177;
}

.menu a:hover,
.menu a.active {
    color: #16A177;
    border: 1px solid #16A177;
    background-color: #16785C;
}
