/* Нехай у вашому гриді три стовпці. Зробіть так, щоб другий стовпець був у 1.5 раза більшим за перший, а третій стовпець у 2.5 раза більшим за перший. */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 2.5fr;
    padding: 10px;
    border: 1px solid #696989;
    width: 300px;
}

.grid-container>div {
    padding: 10px;
    border: 1px solid #696989;
}
