* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.perant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid red;
    width: 800px;
    height: 400px;
    margin: 20px auto;
}

.child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
