/* Нехай у вашому гриді п'ять стовпців. Зробіть так, щоб перший стовпець займав 100px, другий стовпець 20%, а решта стовпців ділили місце, що залишилося, так, щоб кожен стовпець був удвічі більшим за попередній. */

.parents {
    display: grid;
    grid-template-columns: 100px 20% 1fr 2fr 4fr;
    padding: 10px;
    border: 3px solid #696989;
    width: 600px;
}

.parents>div {
    padding: 10px;
    border: 1px solid #696989;
}
