/* Зробіть див шириною і висотою в 150px. Зробіть так, щоб незалежно від вмісту діва в ньому завжди була смуга прокрутки по вертикалі */

.elem {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    overflow-y: scroll;
}
