@keyframes move {
    form {
        width: 100px;
    }

    to {
        width: 100%;
    }
}

.elem {
    animation: move 2s ease infinite;
    animation-play-state: paused;
    width: 100px;
    height: 50px;
    border: 1px solid red;
}

.elem:hover {
    animation-play-state: running;
}
