/* default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.73333;
    color: #777;
    background-color: #fff;
}

h2 {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 10px;
    font-size: 18px;
    color: #111;
    text-transform: uppercase;
    margin: 0 0 75px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:active {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.btn {
    transition: opasity ease-in-out .3s;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 2px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary {
    padding: 14px 40px;
    color: #111;
    background-color: #cfcfcf;
}

.clearfix::after {
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}


.container {
    max-width: 1190px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 15px;
    width: 100%;
}

.row {
    margin: 0 -15px;
}

.row::after {
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}

.col-3 {
    padding: 0 15px;
    float: left;
    width: calc(100% / 3);
}

.col-2 {
    padding: 0 15px;
    float: left;
    width: 50%;
}

.text-center {
    text-align: center;
}

.default-section {
    padding: 140px 0;
}

.blockquote {
    font-size: 24px;
}

.blockquote p {
    margin: 0 0 35px;
}

.blockquote .author {
    font-size: 11px;
    position: relative;
    text-transform: uppercase;
    display: block;
    padding-left: 18px;
    font-style: normal;
}

.blockquote .author::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 50%;
    height: 1px;
    width: 11px;
    background-color: #a2a2a2;
}

.about-studio_section .text-holder {
    margin: 0 0 110px;
}

.about-studio_section .img-holder img {
    transition: filter ease-in-out .3s;
    filter: grayscale(100%);
}

.about-studio_section .img-holder:hover img {
    filter: grayscale(0);
}

.about-studio_section .user-name {
    display: block;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.about-studio_section .user-position {
    display: block;
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.looking-for-section {
    background-color: #111;
    color: #fff;
}

.looking-for-section h2 {
    color: inherit;
    letter-spacing: 5px;
    font-weight: 300;
    margin: 0 0 30px;
}

.looking-for-section .text-holder {
    opacity: 0.7;
    margin: 0 0 40px;
}

.looking-for-section .pc-img-holder {
    margin-top: -172px;
    margin-right: -47px;
    float: right;
}
