/* Модифікуйте попереднє завдання так, щоб між колонками була пунктирна межа сірого кольору. */

.elem {
    width: 1000px;
    column-count: 4;
    column-rule: 1px dashed grey;
    margin: 0 auto;
}
