* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
    font-family: sans-serif;
}

.wrapper {
    width: 890px;
    margin: 0 auto;
    display: flex;
}

header {
    background-color: #F8AA03;
}

nav a {
    margin-right: 20px;
    font-size: 18px;
}

.menu {
    min-height: 50px;
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
}

.menu a.active,
.menu a:hover {
    text-decoration: underline;
}

main {
    text-align: justify;
    width: 530px;
    background-color: #ffffff;
    padding: 20px 10px 20px 20px;
    box-sizing: border-box;
}

main h1 {
    font-size: 21px;
}

main p {
    margin: 10px 0;
}

main h2 {
    margin-top: 20px;
    font-size: 19px;
}

.price {
    margin-top: 10px;
    width: 500px;
}

.price th {
    background-color: #EBEBEB;
}

.price th,
td {
    border: 1px solid #000000;
    text-align: center;
}

main img {
    width: 500px;
    height: 350px;
    background-size: contain;
}

aside {
    width: 360px;
    background-color: #ffffff;
    padding: 20px 20px 20px 10px;
    box-sizing: border-box;
}

aside h2 {
    font-size: 17px;
    margin-bottom: 10px;
}

aside ul {
    list-style-type: none;
}

aside li,
p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
}

footer {
    color: #ffffff;
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: center;
    background-color: #F8AA03;
}
