* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1200px;
    border: 1px solid #000;
    margin: 30px auto;
}

.header {
    padding: 20px;
    height: 300px;
    border: 1px solid #000;
}

.container {
    display: flex;
}

.left {
    width: 300px;
    margin-right: 30px;
    padding: 20px;
    border: 1px solid black;
}

.content {
    border: 1px solid black;
    width: 540px;
    height: 700px;
    padding: 20px;
}

.right {
    width: 300px;
    margin-left: 30px;
    padding: 20px;
    border: 1px solid black;
}

.footer {
    padding: 20px;
    height: 100px;
    border: 1px solid #000;
}
