/* Тепер розташуйте елементи грида за трьома стовпцями і задайте вирівнювання другого елемента по центру вертикальної осі грида. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    padding: 10px;
    margin: 20px auto;
    border: 3px solid #696989;
    width: 600px;
    height: 600px;
}

.grid-container>div {
    gap: 10px;
    padding: 10px;
    border: 1px solid #696989;
}

.elem2 {
    align-self: center;
}
