/* Покрасьте содержимое первого дива в красный цвет, содержимое второго дива - в зеленый, а содержимое третьего дива - с голубой. Задайте для этого каждому диву свой класс */

.block-1 {
    color: red;
}

.block-2 {
    color: blue;
}

.block-3 {
    color: green;
}
