.parent {
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

.child {
    height: 50px;
    border: 1px solid green;
}

.elem1 {
    width: 50px;
    flex-shrink: 2;
}

.elem2 {
    width: 75px;
    flex-shrink: 1;
}

.elem3 {
    width: 75px;
    flex-shrink: 1;
}
