/* Виведіть на екран який-небудь код так, щоб переноси і відступи в ньому стояли так, як це зроблено в редакторі коду. */
.elem {
    tab-size: 0;
    white-space: pre;
    border: 1px solid black;
}
