/* Виведіть на екран який-небудь текст так, щоб переноси і відступи в ньому стояли так, як це зроблено в редакторі коду. */

.elem {
    width: 200px;
    white-space: pre;
    border: 1px solid black;
}
