/* Зробіть див шириною 300px. Вставте в цей див довгий текст. Зробіть так, щоб у цьому тексті автоматично розставилися переноси. */

.elem {
    width: 200px;
    border: 1px solid black;
    hyphens: auto;
}
