/* Нехай наступний код застосовується на екрані шириною від 0 до 500px: */

@media (min-width: 0) and (max-width: 500px) {
    p {
        font-size: 15px;
    }
}

/* Наступний код нехай застосовується на екрані шириною від 500px до 900px: */

@media (min-width: 500px) and (max-width: 900px) {
    p {
        font-size: 20px;
    }
}

/* Наступний код нехай застосовується на екрані шириною від 900px і більше: */

@media (min-width: 900px) {
    p {
        font-size: 30px;
    }
}
