/* Встановіть заголовку h1розмір шрифту 50pxта вирівнювання по центру, заголовкам h2розмір шрифту 40pxта скасуйте жирність, а абзацям встановіть шрифт у 30px. */

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: normal;
}

p {
    font-size: 30px;
}
