/* Зробіть див шириною і висотою в 300px. Додайте в наш див картинку, яка буде більшою за див за шириною і за висотою. Перевірте, що картинка буде вилазити за межі */

.elem {
    width: 300px;
    height: 300px;
    border: 1px solid black;

}

img {
    width: 400px;
    height: 400px;
}
