* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 600px;
    padding: 20px;
    border: 1px solid #000;
    text-align: justify;
    margin: 10px auto;
}

.child {
    float: right;
    width: 100px;
    height: 70px;
    border: 1px solid red;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
