/* Модифікуйте попередню задачу так, щоб у диві під час вилізання тексту по висоті з'являлася вертикальна смуга прокрутки. */

.elem {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    overflow: scroll;
}
