/* Нехай у вас є 4абзацу. За допомогою представлених класів зробіть так, щоб перший абзац був зелений та з великим шрифтом, другий абзац – червоним та з маленьким шрифтом, третій абзац – червоним та з великим шрифтом, а четвертий – зеленим та з маленьким шрифтом. */

.success {
    color: green;
}

.error {
    color: red;
}

.large {
    font-size: 30px;
}

.small {
    font-size: 20px;
}
