/* Поставте всі заголовки h1з правого краю. */
h1 {
    text-align: right;
}

/* Поставте всі заголовки h2 в центрі. Встановіть заголовкам h2 ширину в 300px. Поставте їх по центру. Зверніть увагу на те, що центрування відбуватиметься всередині цих 300px. */

h2 {
    width: 300px;
    text-align: center;
}

/* Встановіть усім таблицям ширину в 500px. */

table {
    width: 500px;
}

/* Поставте текст у комірках th по лівому краю. */

th {
    text-align: left;
}

/* Поставте текст у клітинках td по центру. */

td {
    text-align: center;
}

/* Встановіть усім абзацам ширину в 300px. Вирівняйте текст усіх абзаців одночасно по правому та по лівому краю. */

p {
    width: 300px;
    text-align: justify;
}
