/* Встановіть ширину стовпця в 200px. Змініть ширину батька і подивіться, як змінюється кількість стовпчиків. */

.parents {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 10px;
    border: 3px solid #696989;
}

.parents>div {
    padding: 10px;
    border: 1px solid #696989;
}
