* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 800px;
    margin: 50px auto;
    border: 1px solid #000;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #484848;
    margin-bottom: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    font: bold 14px Arial;
}

.menu a:hover,
.menu a.active {
    background-color: #fff;
    color: black;
}

.content {
    padding: 0 30px 20px;
}

.content h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.content p {
    text-align: justify;
    padding: 0 10px;
    font: 17px/20px 'Times New Roman';
}

.content a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.content a:hover {
    text-decoration: underline;
    color: green;
}
