/* Розмістіть дочірні елементи в три стовпці: перший шириною 100px, другий 150px, а третій нехай займе місце, що залишилося.. */

.parents {
    display: grid;
    grid-template-columns: 100px 150px auto;
    padding: 10px;
    border: 3px solid #696989;
    width: 700px;
}

.parents>div {
    padding: 10px;
    border: 1px solid #696989;
}
