.parents {
    display: grid;
    border: 3px solid #696989;
    height: 300px;
    width: 400px;
    padding: 10px;
}

.parents>div {
    padding: 10px;
    border: 1px solid #696989;
}

.elem1 {
    grid-row: 1 / 2;
}

.elem2 {
    grid-row: 2 / 3;
}

.elem3 {
    grid-row: 1 / 2;
}

.elem4 {
    grid-row: 2 / 4;
}


.elem5 {
    grid-row: 3 / 4;
}
