* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.elem {
    width: 40px;
    padding: 40px;
    border: 1px solid red;
    margin: 100px auto;
    transition: transform 1s ease;
}

.elem:hover {
    transform-origin: right bottom;
    transform: scale(2);
}
