/* Створіть таблицю, в якій відстань між стовпчиками і рядами становитиме 10px і 5% відповідно. */

.grid-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 10px 5%;
    padding: 10px;
    margin: 20px auto;
    border: 3px solid #696989;
    width: 600px;
    height: 90px;
}

.grid-container>div {
    padding: 10px;
    border: 1px solid #696989;
}
