.parants {
    margin: 0 auto;
    position: relative;
    width: 200px;
    height: 430px;
    border: 1px solid #000;
}

.child-1 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid #000;
    border-radius: 100%;
}

.child-2 {
    position: absolute;
    left: 50px;
    top: 160px;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 1px solid #000;
    border-radius: 100%;
}

.child-3 {
    position: absolute;
    left: 50px;
    top: 270px;
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid #000;
    border-radius: 100%;
}
