/* Візьміть довгий текст. Вставте на початок тексту одну картинку, а в середину - іншу. Зробіть так, щоб перша картинка плавала ліворуч, а друга - праворуч. */

.discription {
    width: 400px;
    height: 600px;
    border: 1px solid black;
}

.left {
    float: left;
    padding: 20px 20px 20px 20px;
}

.right {
    float: right;
    padding: 20px 20px 20px 20px;
}
