.parent {
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

.child {
    height: 50px;
    border: 1px solid green;
}

.elem1 {
    width: 133.33px;
}

.elem2 {
    width: 133.33px;
}

.elem3 {
    width: 133.33px;
}
