/* У наступному зразку зелений блок стоїть по центру екрана за допомогою margin, а червоні блоки позиціонуються щодо нього. Повторіть сторінку за наведеним зразком: */

.parents {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 50px auto;
    border: 1px solid green;
}

.child_1 {
    position: absolute;
    top: 0;
    left: -80px;

    width: 50px;
    height: 50px;
    border: 1px solid red;
}

.child_2 {
    position: absolute;
    top: 0;
    right: -80px;

    width: 50px;
    height: 50px;
    border: 1px solid red;
}
