/* Нехай у вашому гриді п'ять стовпців. Зробіть так, щоб перший стовпець займав 100px, другий стовпець 20%, а решта стовпців ділили місце, що залишилося, так, щоб кожен стовпець був удвічі більшим за попередній. */

.grid-container {
    display: grid;
    grid-template-columns: 100px 20% 1fr 1fr 1fr;
    padding: 10px;
    border: 3px solid #696989;
    margin: 20px auto;
    width: 500px;
}

.grid-container>div {
    padding: 10px;
    border: 1px solid #696989;
}
