/* Зробіть у HTML коді абзаци з довгим текстом. Засобами CSS поставте всім абзацям ширину 300px. */

p {
    max-width: 300px;
}

/* Дано таку таблицю:

<table border="1">
	<tr>
		<td>John</td>
		<td>Smith</td>
		<td>200$</td>
	</tr>
	<tr>
		<td>Nick</td>
		<td>Mayers</td>
		<td>300$</td>
	</tr>
	<tr>
		<td>Alex</td>
		<td>Jonson</td>
		<td>400$</td>
	</tr>
</table>
Встановіть осередкам цієї таблиці ширину 400pxі висоту 300px. */

td {
    width: 400px;
    height: 300px;
}

/* Вирівнювання тексту праворуч у CSS */

p {
    text-align: right;
}
.center {
    max-width: 300px;
    text-align: center;
}
.left {
    max-width: 300px;
    text-align: left;
}
.justify {
    max-width: 300px;
    text-align: justify;
}