/* Встановіть таблиці ширину 500px, а висоту 300px. Зробіть осередки td жирними та по центру, а осередки th – нежирними. */
table {
    width: 500px;
    height: 300px;
}

td {
    font-weight: bold;
    text-align: center;
}

th {
    font-weight: normal;
}
