* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(239, 234, 234);
    font-family: sans-serif;
}

.wrapper {
    width: 890px;
    margin: 0 auto;
    display: flex;
}

header,
footer {
    background-color: #F8AA03;
}

.menu {
    min-height: 50px;
    align-items: center;
    display: flex;
    margin-left: 20px;
}

nav a {
    margin-right: 20px;
    font-size: 18px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover,
.menu a.active {
    text-decoration: underline;
}

aside {
    width: 360px;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
}

aside>div {
    margin: 20px 20px 0 0;
}

aside h2 {
    font-size: 17px;
    margin-bottom: 10px;
}

aside p,
aside li {
    font-size: 17px;
    text-align: justify;
    margin-bottom: 10px;
}

aside ul {
    list-style-type: none;
}

main {
    text-align: justify;
    background-color: #fff;
    width: 530px;
    padding: 20px 20px 20px 20px;
}

main h1 {
    font-size: 21px;
}

main h2 {
    font-size: 19px;
    margin-top: 20px;
}

main p {
    margin: 10px 0;
}

main img {
    width: 500px;
    height: 350px;
    background-size: contain;
}

footer {
    color: #ffffff;
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: center;
    background-color: #F8AA03;
}

.price {
    margin-top: 10px;
    width: 500px;
}

.price td,
.price th {
    text-align: center;
    border: 1px solid black;
}

.price th {
    background-color: #EBEBEB;
}

.picture {
    width: 490px;
    height: 375px;
}

nav a {
    margin-right: 20px;
    font-size: 18px;
}
