* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1000px;
    border: 1px solid #000;
    margin: 30px auto;
}

.header {
    padding: 20px;
    height: 250px;
    border: 1px solid #000;
}

.container {
    display: flex;
}

.left {
    width: 200px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid black;
}

.content {
    border: 1px solid black;
    width: 660px;
    height: 700px;
    padding: 20px;
}

.right {
    width: 200px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid black;
}

.footer {
    padding: 20px;
    height: 100px;
    border: 1px solid #000;
}
