.parents {
    display: flex;
    width: 900px;
    height: 400px;
    border: 1px solid red;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    margin: 20px auto;
}

.child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
