/* Повторіть приклад, наведений нижче: */

.underLine {
    text-decoration: underline;
}

/* Верхнє підкреслення тексту в CSS */

.overLine {
    text-decoration: overline;
    color: red;
}

/* Перекреслення тексту в CSS */

.line-through {
    color: green;
    text-decoration: line-through;
}

/* Скасування ефектів для тексту в CSS */

p a {
    text-decoration: none;
    color: red;
}
