/* Дан див з шириною 80%. Зробіть так, щоб текст у цьому діві вишикувався в колонки з шириною по 300px. */

.elem {
    width: 80%;
    column-width: 300px;
    column-gap: 20px;
    margin: 0 auto;
}
